/* 2. THEME styles 

  - X. Layout
    - External wrapper for the bg effect
    - Main wrapper
    - Content layour: stack from every-layout.dev
  - A. Profile image
  - B. Typography and colors
  - C. Links
  - D. Contact block
  - E. Dark theme toggle button
  - F. Darke theme styles
  
*/

/* X. Layout */
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* X.1. External wrapper for the bg effect. */
#wrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  z-index: 2;
}

/* X.2. Main wrapper */
#main {
  position: relative;
}

#main > .inner {
  padding: 0;
  max-width: var(--theme-layout-width);
  width: 100%;
}

/* X.3. Layout: Stack */
/* From: https://every-layout.dev/layouts/stack/ */
.stack {
  display: flex;
  --space: var(--s0);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
  width: 100%;
}

#main > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s0) * -1);
  align-items: center;
  justify-content: center;
}

#main > * > * {
  /* ↓ applies to both elements */
  margin: var(--s1);
}

#main .first {
  flex-basis: var(--theme-layout-img-width);
  flex-grow: 1;
  position: relative;
}

#main .first:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: calc(var(--s1) * -1);
  outline-offset: 0;
  border-radius: var(--s1);
  border-right: solid 3px var(--color-text);
} 

#main .last {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  align-items: flex-start;
  min-width: calc(58% - var(--s2));
}


/* A. Profile image styles */
.img-profile {
  display: inline-block;
  width: 100vw;

  border-radius: 100%;
  border-style: solid;
  border-color: var(--color-text);
  border-width: 8px;
}

/* B. Typography and colors*/
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  hyphens: none;
  overflow-wrap: break-word;
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-plain);
  line-height: var(--line--height-sm);
  color: var(--color-headline);
}

h1 {
  font-size: var(--s3);
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.03em;
}
h2 {
  font-size: var(--s0);
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}
h3 {
  font-size: var(--s2);
}
p,
li {
  font-size: var(--s0);
  font-weight: 300;
  line-height: var(--line-height);
}
p b {
  font-weight: 600;
}
p.small {
  line-height: 1;
}

/* C. Links */
a:link,
a:visited {
  font-size: var(--s0);
  font-weight: 200;
  color: var(--color-link);
  text-decoration: none;
  text-transform: uppercase;
}
a:hover,
a:active {
  color: var(--color-hover);
  text-decoration: underline;
}

/* D. Contact block */
ul.contact {
  padding-left: 0;
  width: 100%;
  li {
    display: inline;
    &:after {
      content: "·";
      padding-left: var(--s-2);
      padding-right: var(--s-2);
    }
    &:last-child {
      a:after {
        content: "";
        padding-right: 0;
      }
    }
  }
}

/* E. Dark theme toggle button */
a.toggle-mode {
  position: fixed;
  display: inline-block;
  top: var(--s1);
  right: var(--s1);
  width: var(--s0);
  height: var(--s0);

  border-radius: 99%;
  text-indent: -9999px;

  background-color: var(--color-text);
  z-index: 9;
  overflow: hidden;
}

/* F. Dark theme styles */
body.dark-theme a.toggle-mode {
  background-color: var(--color-dark-text);
}
body.dark-theme {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6 {
  color: var(--color-dark-headline);
}

body.dark-theme p b {
  color: var(--color-dark-text);
}

body.dark-theme a:link,
body.dark-theme a:visited {
  color: var(--color-dark-link);
}
body.dark-theme a:hover,
body.dark-theme a:active {
  color: var(--color-dark-hover);
}

body.dark-theme #main .first:before {
  border-right-color: var(--color-dark-headline);
}

body.dark-theme  .img-profile {
  border-color: var(--color-dark-text);
}

body.dark-theme #main .last::before {
  transition: background-color var(--theme-switch-duration) ease-in-out var(--theme-switch-duration);
  border-top-color: var(--color-dark-headline);
}

body.dark-theme #main .last::after {
  border-bottom-color: var(--color-dark-headline);
}

/* G. Media queries */
@media (max-width: 52rem) {
  #main {
    margin: var(--s4) 0;
  }
  #main > .inner {
    padding: 0 var(--s0) var(--s2) var(--s2);
  }
  #main .first {
    text-align: center;
  }
  #main .first:before {
    border-right: none;
  }
  #main .last {
    align-items: center;
  }
  .stack {
    align-items: flex-start;
    text-align: center;
  }

  #main .last::after {
    content: "";
    display: block;
    position: absolute;

    bottom: 0;
    height: 0;
    border-bottom: solid 4px var(--color-link);
    width: calc(100% - var(--s3) - var(--s3));
  }

  .img-profile {
    margin: 0 auto;
    max-width: 13rem;
  }

  h1 {
    font-size: var(--s3);
  }
  h2 {
    font-size: var(--s1);
  }
  p,
  li {
    font-size: var(--s0);
    font-weight: normal;
  }
  a:link,
  a:visited {
    font-size: var(--s0);
  }
}
