/* Layout */

/* Core body values. */
body {
    min-width: 320px;
    min-height: 100vh;
    line-height: 1;
    word-wrap: break-word;
    overflow-x: hidden;
}
/* Add a background image to the canvas. */
body::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-attachment: scroll;
    background-image: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.671),
            rgba(255, 255, 255, 0.671)
        ),
        url('../images/bg.jpg');
    /* https://614351ce96b373d5.demo.carrd.co/assets/images/bg.jpg?v42174476286951 */
    background-position: 0% 0%, bottom;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-color: #ffffff;
}
body::after {
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    opacity: 1;
    visibility: hidden;
    -moz-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s 0s;
    -webkit-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s 0s;
    -ms-transition: opacity 1.5s ease-in-out 0s, visibility 1.5s 0s;
    transition: opacity 1.5s ease-in-out 0s, visibility 1.5s 0s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

#main {
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    text-align: center;
    -moz-transition: opacity 1.5s ease-in-out 0s;
    -webkit-transition: opacity 1.5s ease-in-out 0s;
    -ms-transition: opacity 1.5s ease-in-out 0s;
    transition: opacity 1.5s ease-in-out 0s;
}
