/* 1. Layout */
/* Set the CSS custom variables. */
:root {
  /* A. Modular scale variables, from https://every-layout.dev/rudiments/modular-scale/. */
  --ratio: 1.5;

  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  /* B. Theme colors. */
  --color-bg: #ffffff;
  --color-headline: #000000;
  --color-text: #000000;
  --color-link: #343434;
  --color-hover: #111111;

  --color-dark-bg: #111111;
  --color-dark-headline: #ffffff;
  --color-dark-text: #ffffff;
  --color-dark-link: #cecece;
  --color-dark-hover: #ababab;

  /* C. Typography variables. */
  --font-plain: "Inter", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  --font-serif: Georgia, serif;

  --line-height: var(--s1);
  --line--height-sm: 1;
  --font-size-sm: var(--s-3);

  font-family: var(--font-plain);
  font-size: 1em;
  line-height: var(--line-height);
  letter-spacing: 0.002em;

  /* D. Other properties */ 
  --theme-layout-width: 52rem;
  --theme-layout-img-width: 17rem; 
  --theme-switch-duration: 1.5s;
}
